@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&family=Patrick+Hand+SC&family=Poppins:wght@600&family=Roboto:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}